.entry-container {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden
}

.entry-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(204, 204, 204);
    padding: 12px;
    height: 40px;
}

.entry-form-container {
    background-color: rgb(223, 223, 223);
}

#entry-form {
    padding: 12px;
}

#delete-btn {
    background-color: rgb(158, 158, 158);
    font-weight: bold;
    color: rgb(73, 73, 73);
    border: none;
    border-radius: 4px;
    padding: 5px 7px;
    /* box-shadow: 3px 3px 3px rgba(190, 38, 38, 0.37); */
}
#delete-btn:hover {
    background-color: rgba(199, 43, 43, 0.37);
    cursor: pointer;
}

#entry-form input[type=text],
#entry-form input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    display: inline-block;
    box-sizing: border-box;
}

#entry-form input[type=submit] {
    margin-top: 8px;
    width: 100%;
    padding: 12px 20px;
    color: white;
    background-color: rgb(49, 155, 58);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#entry-form input[type=submit]:hover {
    background-color: rgb(45, 141, 53);
}